@font-face {
    font-family: 'Franklin Gothic';
    src: url('../fonts/FranklinGothic-MediumItalic.woff2') format('woff2'),
        url('../fonts/FranklinGothic-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: #fff;
    font-size: 28px; 
    line-height: 60px;
    float: left;
    -webkit- animation: comming 2s ease;
    -o- animation: comming 2s ease;
    animation: comming 2s ease;
    font-family: 'Franklin Gothic', sans-serif;
}

.main{
    width: 100%;
    height: 100%;
}

.menu{
    float: left;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit- animation: topshift 0.4s ease forwards;
    -o- animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bg.jpg) center/cover no-repeat;
}

.title_container{
    float: left;
    margin: 232px 0px 0px 204px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit- animation: titlemove 1s ease forwards;
    -o- animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit- animation-delay: 2.4s;
    -o- animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.title_container h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.about_me_container{
    padding-bottom: 100px;
}

.about_me_container p{
    font-size: 17px;
}

.about_me_container a{
    display: block;
    width: 162px;
    height: 33px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 30px;
    margin: 40px auto 0;
    font-size: 16px;
    background: url(../img/input.png) 6%/auto no-repeat;
    padding-left: 18px;
    color: black;
    text-decoration: none;
}
.skills{
    background: url(../img/bg2.jpg) center/cover no-repeat;
}
.skills_container{
    padding-top: 110px;
    padding-bottom: 96px;
}
.skills_container h2{
    text-align: center;
    width: 214px;
    font-size: 33px;
    margin: 0px auto 30px;
    text-transform: uppercase;
}

.skills_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 100px;
    opacity: 1;
}

.skills_item img{
    margin-bottom: 0px;
    height: 40px;
}

.skills_item h3{
    font-size: 18px;
    color: #cf7600;
    margin-bottom: 20px;
}

.skills_item p{
    font-size: 16px;
}

@keyframes show {
    from{
        margin-left: -500px;
    }
    to{
       margin-left: 0; 
    }
}

.portfolio_container{
    text-align: center;
}

.portfolio_container img{
    max-width: 100%;
    margin-bottom: 40px;
}

.description_left{
    width: 200px;
    float: left;
    margin-right: 82px;
}
.description_left h3{
    font-size: 25px;
    
}

.description_left p{
    font-size: 17px;
    margin: 16px 0;
}

.description_left a{
    margin-top: 25px;
    display: block;
    width: 100%;
    background: #63b5ae;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    
}
.description_right h4{
    font-size: 25px;
    margin-bottom: 10px;
}
.description_right p{
    font-size: 20px;

}

.calculator{
    padding-bottom: 84px;
}
.calculator_container{
    width: 1080px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    margin: 0 auto;
    padding-top: 74px;
    max-width: 100%;
}

.calculator_container h2{
    text-align: center;
    width: 358px;
    font-size: 43px;
    margin: 0px auto 50px;
    
}
.calculator_inner{
    width: 890px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.calculator_inner h3{
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.calculator_inner select{
    margin-bottom: 44px;
}

.calculator_inner hr{
    height: 2px;
    border: none;
    background: #eee;
    max-width: 100%;
    margin: 0 auto 24px;
}

.mySelect{
    display: block;
    width: 890px;
    height: 54px;
    background: #eeeeee;
    padding-left: 24px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:  url(../img/select.png) 98% 54%/auto no-repeat, #eee;
}

.days, .price{
    margin-bottom: 18px;
    font-size: 21px;
    
}

.calculator_footer .text{
    float: left;
}

.calculator_footer .digit{
    font-size: 29px;
    float: right;
}

.statistic{
    background: url(../img/bg3.jpg) center/cover fixed no-repeat;
}


.statistic_container{
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.statistic_container h2{
    text-align: center;
    width: 400px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}

.statistic_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 90px;
}


.statistic_item{
    display: inline-block;
    width: 213px;
    text-align: center;
}
.statistic_item img{
    height: 54px;
}
.statistic_item h3{
    font-size: 37px;
    font-weight: 800;
    margin: 34px 0;
}

.statistic_item p{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

.margin-right{
    margin-right: 53px;
}

.reviews_container{
    width: 700px;
    margin-top: 110px;
    margin: 0 auto;
    padding-bottom: 140px;
}

.reviews_container h2{
     text-align: center;
    width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}

.reviews_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 60px;
}

.review{
    text-align: center;
}

.review img{
    margin-bottom: 36px;
}

.review_text{
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 36px;
}

.review_author{
    font-size: 16px;
    line-height: 24px;
}

.review_author span{
    font-weight: 800;
}

.contacts{
    background: url(../img/bg4.jpg) center/cover no-repeat;
    color: white;
}

.contacts_container{
    width: 734px;
    margin: 0 auto;
    padding-bottom: 68px;
}

.contacts_container h2{
    text-align: center;
    width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}

.contacts_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 32px;
}

.contacts_subscription{
    text-align: center;
    font-size: 16px;
    margin-bottom: 48px;
}

.contacts_data_item{
    float: left;
    width: 154px;
    text-align: center;
    margin: 0 45px;
}

.contacts_data_item img{
    height: 24px;
    margin-bottom: 16px;
    
}

.contacts_data_item p{
    font-size: 16px;
}

.contacts_container h3{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 46px;
    font-size: 21px;
    text-transform: uppercase;
}

.contacts_inputs input{
    display: block;
    width: 352px;
    float: left;
    height: 34px;
    padding-left: 14px;
    margin-bottom: 14px;
    background: rgba(210, 214, 220, 0.93);
    font-size: 16px;
}

.contacts_inputs .secondInput{
    float: right;
}

.contacts_container textarea{
    display: block;
    width: 100%;
    resize: none;
    padding-top: 10px;
    padding-left: 15px;
    background: rgba(220, 224, 230, 0.93);
    font-size: 16px;
    margin-bottom: 30px;
}

.contacts_container input[type="submit"]{
    display: block;
    margin: 0 auto;
    background: none;
    color: white;
    border: 2px solid white;
    height: 46px;
    width: 124px;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 76px;
}

.contacts_social{
    width: 422px;
    margin: 0 auto;
    
}

.contacts_social a{
    display: block;
    float: left;
    margin: 0 20px;
}
.contacts_social img{
    height: 30px;
}

.map img{
    display: block;
    width: 100%;  
}

.footer{
    background: #354051;
    height: 94px;
}

.footer_container{
    text-align: center;
    line-height: 94px;
    color: white;
}

.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: block;
    text-decoration: none;
}

.menu li a:hover{
    color: #e88604;
}

.menu li a:active{
    transform: scale(1.1);
}

.menu li a:active{
    color: red;
}

.menu li a:visited{
    color: white;
}

.title_conteiner input{
    transition: all 0.2s;
    transform: scale(1);
}

.title_conteiner input:hover{
    background: #344051;
    color: white;
}

.title_conteiner input:active{
    transform: scale(1.1);
}

@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-top: -500px;
    }
    to{
        opacity: 1;
        margin-left: 204px;
    }
}

.icon-music-custom:{
  font-size: 40px;

}
